<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Always Run on Main Thread</key>
	<false/>
	<key>AppBase</key>
	<string>/konyapps</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.chevron.hes.mswle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.chevron.hes.mswle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth</string>
				<string>MSWLE</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CanAddWidgetToMultipleParents</key>
	<true/>
	<key>FlexLayoutDefaultValues</key>
	<dict>
		<key>Chart2D3D</key>
		<dict>
			<key>height</key>
			<string>75%</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>CheckBoxGroup</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>CollectionView</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>ComboBox</key>
		<dict>
			<key>height</key>
			<string>100dp</string>
			<key>width</key>
			<string>100dp</string>
		</dict>
		<key>DataGrid</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>FlexContainer</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>FlexScrollContainer</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Line</key>
		<dict>
			<key>height</key>
			<string>2dp</string>
			<key>width</key>
			<string>50dp</string>
		</dict>
		<key>ListBox</key>
		<dict>
			<key>height</key>
			<string>40dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>Map</key>
		<dict>
			<key>height</key>
			<string>75%</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>NativeContainer</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>PickerView</key>
		<dict>
			<key>height</key>
			<string>216dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>RadioButtonGroup</key>
		<dict>
			<key>height</key>
			<string>40dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>RowTemplate</key>
		<dict>
			<key>height</key>
			<string>100dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Segment</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Segment2</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>Slider</key>
		<dict>
			<key>height</key>
			<string>100dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>Tab</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
		<key>TextArea</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>TextArea2</key>
		<dict>
			<key>height</key>
			<string>120dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>TextBox</key>
		<dict>
			<key>height</key>
			<string>40dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>TextBox2</key>
		<dict>
			<key>height</key>
			<string>40dp</string>
			<key>width</key>
			<string>260dp</string>
		</dict>
		<key>Web</key>
		<dict>
			<key>height</key>
			<string>220dp</string>
			<key>width</key>
			<string>100%</string>
		</dict>
	</dict>
	<key>FriendlyWidgetIDMode</key>
	<true/>
	<key>KONY_CAMERA</key>
	<dict>
		<key>konyres_cancel_icon</key>
		<string>konyres_cancel_icon.png</string>
		<key>konyres_settings_icon</key>
		<string>konyres_settings_icon.png</string>
	</dict>
	<key>KonyBundleIdentifier</key>
	<string>com.chevron.hes.mswle</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Modules</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>www.kony.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>ServiceSimulator</key>
	<dict>
		<key>IgnoreServiceCallKeys</key>
		<array>
			<string>memory</string>
			<string>deviceid</string>
			<string>cacheid</string>
		</array>
		<key>Mode</key>
		<string>InactiveMode</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>VisualizerFontIcon.ttf</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>splash1.png</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>splash1</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>splash1-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>splash1-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>splash1-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>splash1-812h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 812}</string>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<string>true</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIViewEdgeAntialiasing</key>
	<false/>
	<key>accessibilityEnabled</key>
	<true/>
	<key>allowselfsignedcertificate</key>
	<true/>
	<key>backward_compatibility_mode</key>
	<false/>
	<key>destroyWidgetViewsOnlyOnLowMemory</key>
	<true/>
	<key>enableIntegralsInLayout</key>
	<false/>
	<key>encoding</key>
	<dict>
		<key>encodeImageURL</key>
		<true/>
		<key>encodeNetAPI</key>
		<true/>
		<key>encodeOpenURL</key>
		<true/>
		<key>encodeRichTextURL</key>
		<false/>
		<key>encodeUrlForBrowser</key>
		<true/>
	</dict>
	<key>exceptionOnInvalidPopupContext</key>
	<false/>
	<key>exceptionalert</key>
	<true/>
	<key>extendBottom</key>
	<false/>
	<key>extendTop</key>
	<false/>
	<key>genericexceptionalert</key>
	<false/>
	<key>globalsmonitoring</key>
	<false/>
	<key>inputaccessoryviewtype</key>
	<string>APPLICATION_INPUTACCESSORYVIEW_NEXTPREV</string>
	<key>pasteboardtype</key>
	<integer>2</integer>
	<key>respectShadowDirection</key>
	<false/>
	<key>statusBarHidden</key>
	<false/>
	<key>statusBarStyle</key>
	<string>STATUS_BAR_STYLE_DEFAULT</string>
	<key>supported_environment</key>
	<string>js</string>
<key>LSApplicationQueriesSchemes</key>
<array>
    <string>instagram</string>
</array>
</dict>
</plist>
